{% extends 'base.html.j2' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center h-75">
        <h1 class="text-center">Welcome to The PokeBattler Website!</h1>
    </div>
{% endblock %}
